{% extends 'base/base.html' %}

{% block content %}

{% load static %}

<header>

    <h1>Medical History</h1>
    <p>Medical Check up Reports</p>
</header>
<main>
    <section class="feature">
        <h2>Reports</h2>
            <a href="/reports/sumit/" class="home_report_link">Sumit Narayan</a>
            <a href="/reports/prem/" class="home_report_link">Prem Narayan Thakur</a>
            <a href="/reports/chitralekha/" class="home_report_link">Chitralekha Thakur</a>
    </section>

</main>


{% endblock %}