{% extends 'base/base.html' %}

{% block content %}

{% load static %}

<header>

    <h1>Welcome to Homepage</h1>
    <p>Here you will find everything you need</p>
</header>
<main>
    <section class="features">
        <div class="feature">
            <h2>Tab 1</h2>
            <p>Desc</p>
        </div>
        <div class="feature">
            <h2>Tab 2</h2>
            <p>Desc</p>
        </div>
        <div class="feature">
            <h2>Tab 3</h2>
            <p>Desc</p>
        </div>
    </section>
    <section class="testimonial">
        <h2>Comment</h2>
        <blockquote>
            "Hello"
            <cite>Sumit Narayan</cite>
        </blockquote>
    </section>
</main>



{% endblock %}